NEXT_PUBLIC_API_URL="https://api.lokaya.shop/api/v1"
NEXT_PUBLIC_BACKEND_URL="https://api.lokaya.shop"
NEXT_PUBLIC_SOCKET_URL="https://api.lokaya.shop"
NEXT_PUBLIC_CDN_DOMAIN="https://7158d01d5e0dd9e7f5be050ed3717b14.r2.cloudflarestorage.com/lokaya-cdn"
NEXT_PUBLIC_GOOGLE_CLIENT_ID="your-google-client-id.apps.googleusercontent.com"
NEXT_PUBLIC_RAZORPAY_KEY_ID="rzp_live_yourRazorpayKeyId"
NEXTAUTH_SECRET="your-nextauth-secret-32-chars-min"
NEXTAUTH_URL="https://lokaya.shop"
