NEXT_PUBLIC_API_URL="https://api.lokaya.shop/api/v1"
NEXT_PUBLIC_BACKEND_URL="https://api.lokaya.shop"
NEXT_PUBLIC_SOCKET_URL="https://api.lokaya.shop"
NEXT_PUBLIC_CDN_DOMAIN="https://7158d01d5e0dd9e7f5be050ed3717b14.r2.cloudflarestorage.com/lokaya-cdn"
NEXT_PUBLIC_GOOGLE_CLIENT_ID="your-google-client-id.apps.googleusercontent.com"
NEXT_PUBLIC_RAZORPAY_KEY_ID="rzp_live_yourRazorpayKeyId"
NEXTAUTH_SECRET="your-nextauth-secret-32-chars-min"
NEXTAUTH_URL="https://lokaya.shop"

NEXT_PUBLIC_FIREBASE_API_KEY="your-firebase-api-key"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="lokaya-27c0d.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="lokaya"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="lokaya.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="924762867355"
NEXT_PUBLIC_FIREBASE_APP_ID="your-firebase-app-id"
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID="your-measurement-id"
